@model AOS.Platform.Models.AppViewModel
@{
    ViewBag.Title = "AppDetailsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var redirectUrlBuy = Model.Apps[0].SOStartURL + "?IsTrialVersion=false";
    var redirectUrlTry = Model.Apps[0].SOStartURL + "?IsTrialVersion=true";

    var soonlinemodal = Model.Apps[0].HasMirroring ? "#soonlineloginmirror" : "#soonlinelogin";
}
<div class="row">
    <div class="col-md-12">
        <!-- Apps panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>App info for @Model.Apps[0].Name</strong></h4>
            </div>
            <div class="panel-body">
                <div class="aoswell">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-9">
                                    <h3>@Model.Apps[0].Name</h3>
                                    <p>@Html.Raw(@Model.Apps[0].AppAboutText)</p>
                                </div>
                                <div class="col-md-3 sidebar">
                                    <div style="height:15px"></div>
                                    @*<img src=@Url.Content(@Model.Apps[0].AppAboutTextShort) alt="name">*@
                                    <img src="data:image/png;base64, @Model.Apps[0].AppAboutTextShort" id="applogoimg" style="width: 147px; height:200px" />
                                    <div style="height:120px"></div>
                                    @if (Model.SOOnlineState > 1)
                                    {
                                        <div class="panel panel-success" style="width:95%; border-color:black; border-radius: 0px;">
                                            @*<div class="panel-heading">
                                                    <h5 class="panel-title"><strong>SO Online version</strong></h5>
                                                </div>*@
                                            <div class="panel-body">
                                                <div class="aoswellinline" style="padding:5px 5px 5px 5px; text-align: center">
                                                    @Model.SOOnlineText
                                                </div>
                                            </div>
                                            <div style="padding: 5px 5px 5px 5px; background-color:#dddddd">
                                                @if (Model.SOOnlineState == 2) // Beta version under construction
                                                {
                                                    <img src="~/Content/Images/SuperOfficeCRMOnlineLogo_small.png" />
                                                    <div style="height:15px"></div>
                                                    <button class="btn btn-info btn-block" type="button" onclick="location.href='@Url.Action("NotifyMeNLI", "App", new { Id = Model.Apps[0].AppID, Version = AOS.Platform.Common.PurchaseVersion.SOOnlineTryBetaVersion })'">
                                                        <span class="fa fa-flag"></span> Notify me
                                                    </button>
                                                }
                                                else if (Model.SOOnlineState == 3) // Beta version
                                                {
                                                    <img src="~/Content/Images/SuperOfficeCRMOnlineLogo_small.png" />
                                                    <div style="height:15px"></div>
                                                    <button class="btn btn-danger btn-block" type="button" data-placement="bottom" title="Try" data-toggle="modal" data-target="@soonlinemodal" data-purchasetypetext="Create free trial" data-title="@Model.Apps[0].Name - A great choice!" data-message="@redirectUrlTry" data-disclaimer="@Model.MirroringDisclaimer">
                                                        <span class="glyphicon glyphicon-eye-open"></span> Try
                                                    </button>
                                                }
                                                else if (Model.SOOnlineState == 4) // Production version
                                                {
                                                    <img src="~/Content/Images/SuperOfficeCRMOnlineLogo_small.png" />
                                                    <div style="height:15px"></div>
                                                    <button class="btn btn-success btn-block" type="button" data-placement="bottom" title="Try" data-toggle="modal" data-target="@soonlinemodal" data-purchasetypetext="Create free trial" data-title="@Model.Apps[0].Name - A great choice!" data-message="@redirectUrlTry" data-disclaimer="@Model.MirroringDisclaimer">
                                                        <span class="glyphicon glyphicon-shopping-cart"></span> Buy
                                                    </button>
                                                    <button class="btn btn-success btn-block" type="button" data-placement="bottom" title="Try" data-toggle="modal" data-target="@soonlinemodal" data-purchasetypetext="Create free trial" data-title="@Model.Apps[0].Name - A great choice!" data-message="@redirectUrlTry" data-disclaimer="@Model.MirroringDisclaimer">
                                                        <span class="glyphicon glyphicon-eye-open"></span> Try
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    }
                                    @if (Model.OnPremiseState > 1)
                                    {
                                        <div class="panel panel-success" style="width:95%; border-color: black; border-radius: 0px;">
                                            @*<div class="panel-heading">
                                                    <h5 class="panel-title"><strong>On premise version</strong></h5>
                                                </div>*@
                                            <div class="panel-body">
                                                <div class="aoswellinline" style="padding:5px 5px 5px 5px; text-align: center">
                                                    @Model.OnPremiseText
                                                </div>
                                                <div style="padding: 5px 5px 5px 5px; background-color:#dddddd">
                                                    @if (Model.OnPremiseState == 2)
                                                    {
                                                        <img src="~/Content/Images/so8login_small.png" />
                                                        <div style="height:15px"></div>
                                                        <button class="btn btn-info btn-block" type="button" onclick="location.href='@Url.Action("NotifyMeNLI", "App", new { Id = Model.Apps[0].AppID, Version = AOS.Platform.Common.PurchaseVersion.OnPremiseTryBetaVersion })'">
                                                            <span class="fa fa-flag"></span> Notify me
                                                        </button>
                                                    }
                                                    else if (Model.OnPremiseState == 3)
                                                    {
                                                        <img src="~/Content/Images/so8login_small.png" />
                                                        <div style="height:15px"></div>
                                                        <button class="btn btn-danger btn-block" type="button" onclick="location.href='@Url.Action("TryApp", "App", new { Id = Model.Apps[0].AppID, OnPremisePurchaseVersion = AOS.Platform.Common.PurchaseVersion.OnPremiseTryBetaVersion, SOOnlinePurchaseVersion = AOS.Platform.Common.PurchaseVersion.SOOnlineNone })'">
                                                            <span class="glyphicon glyphicon-eye-open"></span> Try
                                                        </button>
                                                    }
                                                    else if (Model.OnPremiseState == 4)
                                                    {
                                                        <img src="~/Content/Images/so8login_small.png" />
                                                        <div style="height:15px"></div>
                                                        <button class="btn btn-success btn-block" type="button" onclick="location.href='@Url.Action("BuyApp", "App", new { Id = Model.Apps[0].AppID, OnPremisePurchaseVersion = AOS.Platform.Common.PurchaseVersion.OnPremiseBuyTry, SOOnlinePurchaseVersion = AOS.Platform.Common.PurchaseVersion.SOOnlineNone })'">
                                                            <span class="glyphicon glyphicon-shopping-cart"></span> Buy
                                                        </button>
                                                        <button class="btn btn-success btn-block" type="button" onclick="location.href='@Url.Action("TryApp", "App", new { Id = Model.Apps[0].AppID, OnPremisePurchaseVersion = AOS.Platform.Common.PurchaseVersion.OnPremiseBuyTry, SOOnlinePurchaseVersion = AOS.Platform.Common.PurchaseVersion.SOOnlineNone })'">
                                                            <span class="glyphicon glyphicon-eye-open"></span> Try
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Confirm")
    @Html.Partial("SOOnlineLogin")
    @Html.Partial("SOOnlineLoginMirror", Model)
</div>
<script>
    $(function () {

        var offset = $("#sidebar").offset();
        var topPadding = 15;

        $(window).scroll(function () {

            if ($(window).scrollTop() > offset.top) {

                $("#sidebar").stop().animate({

                    marginTop: $(window).scrollTop() - offset.top + topPadding

                });

            } else {

                $("#sidebar").stop().animate({
                    marginTop: 0

                });

            }
        });

    });</script>