@model AOS.Platform.Models.CockpitViewModel
@{
    ViewBag.Title = "Cockpit";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>Cockpit</strong></h4>
    </div>
    <div class="panel-body">
        <div class="aoswell threed">
        <div class="form-group">Current account:<br /><p style="color:#003468; font-weight:bold" id="cockpitcurrentaccount">@Model.CurrentAccountName</p></div>
        <div class="form-group" style="overflow:hidden">
            <button class="btn btn-default" style="float: left">
                <span class="fa fa-briefcase" id="changeAccount"></span>&nbsp;Change account
            </button>
        </div>
        <div class="form-group"><hr /></div>
        <div class="form-group">Role:<br /><p class="adwiza-label">@Model.CurrentAccountRole</p></div>
        <div class="form-group"><hr /></div>
        <div class="form-group">Connection:<br /><p class="adwiza-label"><strong><span class="@Model.CurrentConnectionStatusIcon"></span>&nbsp;@Model.CurrentConnectionStatus</strong></p></div>
        <div class="form-group" style="overflow:hidden">
            <button class="btn btn-default" style="float:left" onclick="location.href='@Url.Action("Endpoint", "Account")'">
                <span class="fa fa-wrench" id="connectionSettings"></span>&nbsp;Change settings
            </button>
        </div>
        <div class="form-group"><hr /></div>
        @{
            var accountOwner = (Model.CurrentAccountOwnerName == null) ? Model.CurrentAccountOwnerEmail : Model.CurrentAccountOwnerName;
        }
        <div class="form-group">Account owner:<br /><p class="adwiza-label"><strong>@accountOwner</strong></p></div>
        <div class="form-group" style="overflow:hidden">
            <form method="post" action="mailto:@Model.CurrentAccountOwnerEmail">
                <button class="btn btn-default" style="float:left" onclick="mailto:@Model.CurrentAccountOwnerEmail">
                    <span class="fa fa-envelope-o" id="connectionSettings"></span>&nbsp;Contact
                </button>
            </form>
        </div>
        </div>
    </div>
</div>
<script>
    // Toggle Administrator button depending on role
    $(document).ready(function () {
        var btnGroupTop = $("#btnGroupTop");
        var btnLogoff = $("#btnLogoff");

        var role = @{@Html.Raw(Json.Encode(@Model.CurrentAccountRole));};

        if (role.toLowerCase() == "system user") {
            btnGroupTop.show();
            btnLogoff.hide();
        }
        else {
            btnGroupTop.hide();
            btnLogoff.show();
        }
    });
</script>