@model AOS.Platform.Models.AccountSettingsViewModel
@{
    ViewBag.Title = "Account settings";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- Upper panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>Account settings</strong></h4>
            </div>
            <div class="panel-body">
                <div class="aoswell">
                    <div class="form-group">
                        This is your account settings page. From here you can adjust your account settings
                    </div>
                    @{
                        if (!Model.IsSOOnline)
                        {
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Endpoint", "Account")'"><span class="fa fa-key"></span> Change endpoint settings</button>
                        }
                        else
                        {
                            if (Model.IsSystemUser)
                            {
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Endpoint", "Account")'"><span class="fa fa-key"></span> Change endpoint settings</button>
                            }
                        }
                    }
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AccountUsers", "Account")'"><span class="fa fa-user-plus"></span> User administration</button>
                </div>
            </div>
        </div>
        <!-- Personal settings panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>Account info</strong></h4>
            </div>
            <div class="panel-body">
                <div class="aoswell">
                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm("UpdateAccountSettings", "Account", FormMethod.Post, new { @class = "form center-block", encType = "multipart/form-data", id = "frmUpdateAccountSettings", name = "frmUpdateAccountSettings" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Account display name", id = "accountdisplayname", name = "accountdisplayname" } })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @if (Model.IsSystemUser)
                                    {
                                        @Html.EditorFor(m => m.URL, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Account name", id = "accountname", name = "accountname" } })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(m => m.URL, new { htmlAttributes = new { @class = "form-control input-lg", disabled = "disabled", @placeholder = "Account name", id = "accountname", name = "accountname" } })
                                    }
                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <p>Publish URL: <strong>http://{service}.online.adwiza.com/<span id="publishURL"></span>/</strong></p>
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Address" } })
                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Address2, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Address 2" } })
                                    @Html.ValidationMessageFor(m => m.Address2, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Zip, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Zip" } })
                                    @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "City" } })
                                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Country, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Country", id = "country", name = "country", @type = "text", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                                </div>
                            }
                            <button class="ladda-button btn btn-primary btn-lg btn-block" data-style="zoom-in" type="submit" id="form-submit">
                                <span class="ladda-label">Save account info</span>
                            </button>
                            <div class="form-group">
                                <div class="alert alert-success" role="alert" id="success-alert">Account settings successfully updated...</div>
                            </div>
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert" id="error-alert"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {

        $("#country").typeahead({
            ajax: {
                url: "@Url.Action("GetAllCountries", "Account")",
                timeout: 200,
                displayField: "Name",
                triggerLength: 1,
                method: "get",
                preDispatch: function (query) {
                    //showLoadingMask(true);
                    return {
                        search: query
                        //otherParam: 123
                    }
                },
                preProcess: function (data) {
                    //showLoadingMask(false);
                    //if (data.success === false) {
                    //    // Hide the list, there was some error
                    //    return false;
                    //}
                    // We good!
                    //console.log(data);
                    return data;
                }
            }
        })

        // Generate publish URL
        $('#accountname').on("input", function () {
            var dInput = this.value;
            console.log(dInput);
            $('#publishURL').text(dInput);
        });

        $('#publishURL').text("@Model.URL");

        // The ladda button (button with spinner)
        var ladda = null;

        // Attach click handler to the submit button:
        $('#form-submit').click(function () {
            // Assign button to ladda button
            ladda = Ladda.create(this);
            // Submit form
            $('#frmUpdateAccountSettings').submit();
        });

        // Hide alert boxes
        $("#success-alert").hide();
        $("#error-alert").hide();

        // Submit form
        $("#frmUpdateAccountSettings").on("submit", function (event) {
            event.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();

            // Start loading. Turn on spinner
            ladda.start();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    // Check if we should redirect
                    if (resp.Redirect) {
                        window.location = "@Url.Action("Login", "Account")";
                    };

                    if (resp.IsOK) {
                        // Show success alert box
                        $("#success-alert").show();
                        // Remove success alert-box after a few seconds
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                            $("#success-alert").hide();
                        });
                        $("#cockpitcurrentaccountname").html($("#accountdisplayname").val());
                    }
                    else {
                        // Show error alert box
                        $("#error-alert").html(resp.ErrorMsg);
                        $("#error-alert").show();
                        // Remove error alert-box after a few seconds
                        $("#error-alert").fadeTo(2000, 500).slideUp(500, function () {
                            $("#error-alert").hide();
                        });
                    }
                }
            })
            .always(function () {
                // Stop loading. Turn off spinner
                ladda.stop();
            });
            return false;
        });

    });

    // Automatically trigger the loading animation on click
    Ladda.bind('input[type=submit]');

    $('.typeahead.input-sm').siblings('input.tt-hint').addClass('hint-small');
    $('.typeahead.input-lg').siblings('input.tt-hint').addClass('hint-large');

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}