@model AOS.Platform.Models.AdminHomeNotificationSettingsViewModel
@using (Html.BeginForm("UpdateNotificationSettings", "SysAdmin", FormMethod.Post, new { @class = "form center-block", encType = "multipart/form-data", id = "frmUpdateNotificationSettings", name = "frmUpdateNotificationSettings" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-sm" id="igNotificationEmail">Notification email</span>
            @Html.EditorFor(m => m.NotificationEmail, new { htmlAttributes = new { @class = "form-control input-sm", aria_describedby = "igNotificationEmail", @placeholder = "Notification email", id = "notificationEmail", name = "notificationEmail", @data_toggle = "tooltip", @data_placement = "bottom", title = "Notification email address" } })
            @Html.ValidationMessageFor(m => m.NotificationEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <p class="adwiza-label">Send email on notification</p>
    </div>
    <div class="form-group">
        <div class="row">
            @{
                var indx = 0;

                for (int i = 0; i < Model.NotificationList.Length; i++)
                {
                    var itemId = Model.NotificationList[i].NotificationId;
                    var ajaxLoaderId = "ajaxLoader" + indx;
                    var ariaId = "aria" + itemId;

                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon input-sm" style="min-width: 370px; text-align:left" id="@ariaId">@Model.NotificationList[i].NotificationText</span>
                            @Html.CheckBoxFor(m => m.NotificationList[i].NotificationSendEmail, new { @class = "switch", aria_describedby = @ariaId, data_size = "small", data_on_text = "Yes", data_off_text = "No", id = @itemId, name = @ajaxLoaderId })
                            @Html.ValidationMessageFor(m => m.NotificationList[i].NotificationSendEmail, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.NotificationList[i].NotificationId, new { id = "hiddenNotificationId" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
<button class="ladda-button btn btn-primary btn-block btn-sm" data-style="zoom-in" type="submit" id="form-submit2">
    <span class="ladda-label">Save</span>
</button>
<div class="form-group">
    <div class="alert alert-success" role="alert" id="success-alert-notificationsettings">Notification settings successfully updated...</div>
</div>
<div class="form-group">
    <div class="alert alert-danger" role="alert" id="error-alert-notificationsettings"></div>
</div>

