@model AOS.Platform.Models.AppAdminAvailabilityViewModel
@using (Html.BeginForm("UpdateAvailability", "SysAdmin", FormMethod.Post, new { @class = "form center-block", encType = "multipart/form-data", id = "frmUpdateAvailability", name = "frmUpdateAvailability" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.AppId, new { id = "hiddenAppIdAvailability" })
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-sm" style="min-width: 170px; text-align: left" id="igOnPremiseVersionState">On Premise version state</span>
            @Html.DropDownListFor(m => m.AppStateOnPremise, new SelectList(Model.ListOfAppStates, "AppStateID", "State"), new { @class = "form-control input-sm", id = "selAppStateOnPremise", aria_describedby = "igOnPremiseVersionState" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-sm" style="min-width: 170px; text-align:left" id="igSOOnlineVersionState">SO Online version state</span>
            @Html.DropDownListFor(m => m.AppStateSOOnline, new SelectList(Model.ListOfAppStates, "AppStateID", "State"), new { @class = "form-control input-sm", id = "selAppStateSOOnline", aria_describedby = "igSOOnlineVersionState" })
        </div>
    </div>
}
<button class="ladda-button btn btn-primary btn-block btn-sm" data-style="zoom-in" type="submit" id="form-submit3">
    <span class="ladda-label">Save</span>
</button>
<div class="form-group">
    <div class="alert alert-success" role="alert" id="success-alert-availability">Availability properties successfully updated...</div>
</div>
<div class="form-group">
    <div class="alert alert-danger" role="alert" id="error-alert-availability"></div>
</div>