@model AOS.Platform.Models.AppAdminGeneralInfoViewModel
@using (Html.BeginForm("UpdateGeneralInfo", "SysAdmin", FormMethod.Post, new { @class = "form center-block", encType = "multipart/form-data", id = "frmUpdateGeneralInfo", name = "frmUpdateGeneralInfo" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.AppId, new { id = "hiddenAppIdGeneralInfo" })
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon input-sm" style="min-width: 80px; text-align:left" id="igAppName">Name</span>
                    @Html.EditorFor(m => m.AppName, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Name", @aria_describedby = "igAppName", id = "appName", name = "appName" } })
                    @Html.ValidationMessageFor(m => m.AppName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4 pull-right" style="padding-left: 0px">
            <div class="input-group">
                <span class="input-group-addon input-sm" id="igAppEnabled">App status</span>
                @Html.CheckBoxFor(m => m.AppEnabled, new { @class = "switch notifswitch", data_size = "small", aria_describedby = "igAppEnabled", data_on_text = "Enabled", data_off_text = "Disabled", id = "appEnabled", name = "appEnabled" })
                @Html.ValidationMessageFor(m => m.AppEnabled, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon input-sm" id="igTrialDays">Trial days</span>
                    @Html.EditorFor(m => m.TrialDays, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Trial days", @aria_describedby = "igTrialDays", id = "trialDays", name = "trialDays" } })
                    @Html.ValidationMessageFor(m => m.TrialDays, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon input-sm" id="igUserPoolCount">User pool count</span>
                @Html.EditorFor(m => m.UserPoolCount, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "User pool count", @aria_describedby = "igUserPoolCount", id = "userPoolCount", name = "userPoolCount" } })
                @Html.ValidationMessageFor(m => m.UserPoolCount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon input-sm" id="igExpireMails">Send expire mails</span>
                @Html.CheckBoxFor(m => m.SendExpireMails, new { @class = "switch notifswitch", data_size = "small", aria_describedby = "igExpireMails", data_on_text = "Yes", data_off_text = "No", id = "sendExpireMails", name = "sendExpireMails" })
                @Html.ValidationMessageFor(m => m.SendExpireMails, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
<button class="ladda-button btn btn-primary btn-block btn-sm" data-style="zoom-in" type="submit" id="form-submit1" onclick="$('#SpinnerWait_Modal').modal('show')">
    <span class="ladda-label">Save</span>
</button>
<div class="form-group">
    <div class="alert alert-success" role="alert" id="success-alert-generalinfo">General info properties successfully updated...</div>
</div>
<div class="form-group">
    <div class="alert alert-danger" role="alert" id="error-alert-generalinfo"></div>
</div>
@Html.Partial("SpinnerWaitModal")