@model AOS.Platform.Models.AppAdminURLInfoViewModel
@using (Html.BeginForm("UpdateURLInfo", "SysAdmin", FormMethod.Post, new { @class = "form center-block", encType = "multipart/form-data", id = "frmUpdateURLInfo", name = "frmUpdateURLInfo" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.AppId, new { id = "hiddenAppIdURLInfo" })
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-sm" style="min-width: 170px; text-align:left" id="igAppAdminURL">Admin URL</span>
            @Html.EditorFor(m => m.AdminURL, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "App Admin URL", @aria_describedby = "igAppAdminURL", id = "appAdminURL", name = "appAdminURL" } })
            @Html.ValidationMessageFor(m => m.AdminURL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-sm" style="min-width: 170px; text-align:left" id="igAppStartURL">Start URL</span>
            @Html.EditorFor(m => m.StartURL, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "App Start URL", @aria_describedby = "igAppStartURL", id = "appStartURL", name = "appStartURL" } })
            @Html.ValidationMessageFor(m => m.StartURL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-sm" style="min-width: 170px; text-align:left" id="igAppAlternateRedirectURL">Alternate Redirect URL</span>
            @Html.EditorFor(m => m.AlternateRedirectURL, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Alternate Redirect URL", @aria_describedby = "igAppAlternateRedirectURL", id = "appAlternateRedirectURL", name = "appAlternateRedirectURL" } })
            @Html.ValidationMessageFor(m => m.AlternateRedirectURL, "", new { @class = "text-danger" })
        </div>
    </div>
}
<button class="ladda-button btn btn-primary btn-block btn-sm" data-style="zoom-in" type="submit" id="form-submit4">
    <span class="ladda-label">Save</span>
</button>
<div class="form-group">
    <div class="alert alert-success" role="alert" id="success-alert-urlinfo">URL Info properties successfully updated...</div>
</div>
<div class="form-group">
    <div class="alert alert-danger" role="alert" id="error-alert-urlinfo"></div>
</div>