@model AOS.Platform.Models.CheckConnectionViewModel
@{
    ViewBag.Title = "Healthcheck - Connection status";
}
    <table class="table table-condensed table-hover">
        <tr>
            <th>Status</th>
            <th>Account Name</th>
            <th>Connection Type</th>
            <th>Info</th>
        </tr>
        <tbody>
            @foreach (var row in Model.Connections)
                {
                    var id = "btn" + row.AccountId.ToString();
                <tr>
                    <td class="form-control-static"><span class="@row.StatusIcon"></span>&nbsp;<span id="connStatusText">@row.StatusText</span></td>
                    <td class="form-control-static">@row.AccountName</td>
                    <td class="form-control-static">@row.ConnectionType</td>
                    <td class="form-control-static">
                        <button class="btn btn-info btn-sm" id="@id" type="button" data-placement="bottom" title="Connection info" data-toggle="modal" data-target="#connectionInfo" data-title="Connection info for account @row.AccountName" data-message="Connection info..." data-id="@row.ConnectionId" data-url="@row.ConnectionURL" data-netserver="@row.NetServer">
                            <span>Info</span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
        <tr></tr>
    </table>
@Html.Partial("ConnectionInfo")