@model AOS.Platform.Models.IntegrityCheckViewModel
@{
    var itTest1 = (Model.OrphanAccountOwners.Count > 0) ? "Check if the account is in use. If not, use the RemoveAccount tool to remove the account and underlying tables" : "None found";
    var itTest2 = (Model.AccountlessUsers.Count > 0) ? "Found " + Model.AccountlessUsers.Count.ToString() + ". These users can safely be removed" : "None found";
    var itTest3 = (Model.OrphanURAUsers.Count > 0) ? "Found " + Model.OrphanURAUsers.Count.ToString() + ". These users can safely be removed" : "None found";
    var itTest4 = (Model.AccountWithNoConnections.Count > 0) ? "Assign an endpoint to these accounts" : "None found";
    var itTest5 = (Model.AccountWithNoApps.Count> 0) ? "Found " + Model.AccountWithNoApps.Count.ToString() + ". These accounts should be monitored" : "None found";
    var itTest6 = (Model.OrphanConnections.Count > 0) ? "Found " + Model.OrphanConnections.Count.ToString() + ". These connections can safely be removed" : "None found";
}
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon input-sm" id="igEnvIntegrityCheckFilter">Health check</span>
        @Html.DropDownListFor(m => m.FilterId, new SelectList(Model.ListOfFilters, "FilterId", "FilterName"), new { @class = "form-control input-sm", id = "selection", aria_describedby = "igEnvIntegrityCheckFilter", style = "width: 240px", @onchange = "ChangeIntegrityCheck(this.value)" })
        <span class="badge" id="tbCount">&nbsp;@Model.OrphanAccountOwners.Count</span>
    </div>
</div>

<div class="form-group" id="orphanAccountOwners">
    <table class="table table-condensed table-hover">
        <tr>
            <th>Owner</th>
            <th>Account Id</th>
            <th>Account Name</th>
        </tr>
        <tbody>
            @foreach (var row in Model.OrphanAccountOwners)
            {
                <tr>
                    <td class="form-control-static">@row.OwnerId</td>
                    <td class="form-control-static">@row.AccountId</td>
                    <td class="form-control-static">@row.AccountName</td>
                </tr>
            }
        </tbody>
        <tr></tr>
    </table>
    <strong>Recommandation</strong>: @itTest1
</div>

<div class="form-group" id="accountlessUsers" hidden="hidden">
    <table class="table table-condensed table-hover" id="diagTable">
        <tr>
            <th>UserId</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <tbody>
            @foreach (var row in Model.AccountlessUsers)
            {
                <tr>
                    <td class="form-control-static">@row.UserId</td>
                    <td class="form-control-static">@row.FirstNameLastName</td>
                    <td class="form-control-static">@row.Email</td>
                </tr>
            }
        </tbody>
        <tr></tr>
    </table>
    <strong>Recommandation</strong>: @itTest2
</div>

<div class="form-group" id="orphanURAUsers" hidden="hidden">
    <table class="table table-condensed table-hover">
        <tr>
            <th>User Id</th>
            <th>Account Id</th>
            <th>Account Name</th>
            <th>Role</th>
        </tr>
        <tbody>
            @foreach (var row in Model.OrphanURAUsers)
            {
                <tr>
                    <td class="form-control-static">@row.UserId</td>
                    <td class="form-control-static">@row.AccountId</td>
                    <td class="form-control-static">@row.AccountName</td>
                    <td class="form-control-static">@row.Role</td>
                </tr>
            }
        </tbody>
        <tr></tr>
    </table>
    <strong>Recommandation</strong>: @itTest3
</div>

<div class="form-group" id="accountsWithNoConnection" hidden="hidden">
    <table class="table table-condensed table-hover">
        <tr>
            <th>Account Id</th>
            <th>Account Name</th>
        </tr>
        <tbody>
            @foreach (var row in Model.AccountWithNoConnections)
            {
                <tr>
                    <td class="form-control-static">@row.AccountId</td>
                    <td class="form-control-static">@row.AccountName</td>
                </tr>
            }
        </tbody>
        <tr></tr>
    </table>
    <strong>Recommandation</strong>: @itTest4
</div>

<div class="form-group" id="accountsWithNoApps" hidden="hidden">
    <table class="table table-condensed table-hover">
        <tr>
            <th>Account Id</th>
            <th>Account Name</th>
        </tr>
        <tbody>
            @foreach (var row in Model.AccountWithNoApps)
            {
                <tr>
                    <td class="form-control-static">@row.AccountId</td>
                    <td class="form-control-static">@row.AccountName</td>
                </tr>
            }
        </tbody>
        <tr></tr>
    </table>
    <strong>Recommandation</strong>: @itTest5
</div>

<div class="form-group" id="orphanConnections" hidden="hidden">
    <table class="table table-condensed table-hover">
        <tr>
            <th>Connection Id</th>
            <th>Connection URL</th>
        </tr>
        <tbody>
            @foreach (var row in Model.OrphanConnections)
            {
                <tr>
                    <td class="form-control-static">@row.ConnectionId</td>
                    <td class="form-control-static">@row.ConnectionURL</td>
                </tr>
            }
        </tbody>
        <tr></tr>
    </table>
    <strong>Recommandation</strong>: @itTest6
</div>

<script>
    // Fires when user click a row
    $('#diagTable td').dblclick(function () {
        var $this = $(this);
        var row = $this.closest("tr");
        var userId = row.find('td')[0].innerText;
        var firstNameLastName = row.find('td')[1].innerText;
        var email = row.find('td')[2].innerText;
        alert("Editing UserId" + userId + ", Name: " + firstNameLastName + ", Email: " + email);
        var 
    }); 

    // Change selection dropdown
    function ChangeIntegrityCheck(val) {

        if (val == 1) {
            $("#orphanAccountOwners").show();
            $("#accountlessUsers").hide();
            $("#orphanURAUsers").hide();
            $("#accountsWithNoConnection").hide();
            $("#accountsWithNoApps").hide();
            $("#orphanConnections").hide();
            $("#tbCount").text("@Model.OrphanAccountOwners.Count");
        }

        if (val == 2) {
            $("#orphanAccountOwners").hide();
            $("#accountlessUsers").show();
            $("#orphanURAUsers").hide();
            $("#accountsWithNoConnection").hide();
            $("#accountsWithNoApps").hide();
            $("#orphanConnections").hide();
            $("#tbCount").text("@Model.AccountlessUsers.Count");
        }

        if (val == 3) {
            $("#orphanAccountOwners").hide();
            $("#accountlessUsers").hide();
            $("#orphanURAUsers").show();
            $("#accountsWithNoConnection").hide();
            $("#accountsWithNoApps").hide();
            $("#orphanConnections").hide();
            $("#tbCount").text("@Model.OrphanURAUsers.Count");
        }

        if (val == 4) {
            $("#orphanAccountOwners").hide();
            $("#accountlessUsers").hide();
            $("#orphanURAUsers").hide();
            $("#accountsWithNoConnection").show();
            $("#accountsWithNoApps").hide();
            $("#orphanConnections").hide();
            $("#tbCount").text("@Model.AccountWithNoConnections.Count");
        }

        if (val == 5) {
            $("#orphanAccountOwners").hide();
            $("#accountlessUsers").hide();
            $("#orphanURAUsers").hide();
            $("#accountsWithNoConnection").hide();
            $("#accountsWithNoApps").show();
            $("#orphanConnections").hide();
            $("#tbCount").text("@Model.AccountWithNoApps.Count");
        }

        if (val == 6) {
            $("#orphanAccountOwners").hide();
            $("#accountlessUsers").hide();
            $("#orphanURAUsers").hide();
            $("#accountsWithNoConnection").hide();
            $("#accountsWithNoApps").hide();
            $("#orphanConnections").show();
            $("#tbCount").text("@Model.OrphanConnections.Count");
        }

    }

    $(function () {


    });
</script>