@model AOS.Platform.Models.LicensesViewModel
@{
    ViewBag.Title = "Licenses";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- Licenses panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title sysuserfg"><strong>Licenses</strong></h4>
            </div>
            <div class="panel-body">
                <div class="aoswell">
                    <div class="form-group">
                        This is your licenses page. From here you can test app licenses and user licenses
                    </div>
                    @using (Html.BeginForm("TestLicense", "SysAdmin", FormMethod.Post, new { @class = "form center-block", encType = "multipart/form-data", id = "frmTestLicense", name = "frmTestLicense" }))
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-sm" id="igAccountSelector">Account</span>
                                @Html.DropDownListFor(m => m.SelectedAccountId, new SelectList(Model.AccountList, "AccountId", "AccountName"), new { @class = "form-control", id = "accountSelection", aria_describedby = "igAccountSelector", @onchange = "ChangeAccount(this.value)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-sm" id="igAppSelector">App</span>
                                @Html.DropDownListFor(m => m.SelectedAppId, new SelectList(Model.AppList, "AppId", "AppName"), new { @class = "form-control", id = "AppSelection", aria_describedby = "igAppSelector", @onchange = "ChangeApp(this.value)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-sm" id="igAssociateSelector">SO Associate</span>
                                @Html.DropDownListFor(m => m.SelectedAssociateId, new SelectList(Model.AssociateList, "AssociateId", "AssociateName"), new { @class = "form-control", id = "AssociateSelection", aria_describedby = "igAssociateSelector", @onchange = "ChangeAssociate(this.value)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-sm" id="igAutoAllocation">Auto seat allocation</span>
                                @Html.CheckBoxFor(m => m.AutoAllocation, new { @class = "switch notifswitch", data_size = "small", aria_describedby = "igAutoAllocation", data_on_text = "On", data_off_text = "Off", id = "autoAllocationSwitch", name = "autoAllocationSwitch" })
                                @Html.ValidationMessageFor(m => m.AutoAllocation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-sm" id="igMaxSeats">Max. seats</span>
                                @Html.EditorFor(m => m.MaxSeats, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Max. seats", @aria_describedby = "igMaxSeats", id = "maxSeats", name = "maxSeats" } })
                                @Html.ValidationMessageFor(m => m.MaxSeats, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon input-sm" id="igExistingAssociates">Allocated seats</span>
                                <ul class="list-group" aria_describedby="igExistingAssociates" id="existingAssociateList">
                                    @foreach (var item in Model.ExistingAssociateList)
                                    {
                                        <li class="list-group-item">@item.AssociateName</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="ladda-button btn btn-primary btn-block btn-sm" data-style="zoom-in" type="submit" id="form-submit">
                                <span class="ladda-label">Save</span>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("SpinnerWaitModal")
<script>

    // Change selection dropdown
    function ChangeAccount(val) {
        // Show modal wait spinner
        $('#SpinnerWait_Modal').modal('show');

        // Controller/actionresult
        var url = "@Url.Action("GetAccountInfo", "SysAdmin")";

        // Account id
        var accId = val;

        // Currently selected app
        var appId = $('#AppSelection').val()

        // Assign handlers immediately after making the request,
        // and remember the jqxhr object for this request
        var jqxhr = $.getJSON(url, { accountId: accId, appId: appId }, function (resp) {

            // *** Update SO Associate list ***
            $("#AssociateSelection").empty();
            $("#AssociateSelection").append('<option value="">Select associate</option>');
            $.each(d, function (idx, item) {
                jQuery("<option/>").text(item.C_DescBs).attr("value", item.C_CodBs).appendTo("#txtIdItem");
            })
            $('#txtIdItem').trigger("chosen:updated");
            $(resp.AssociateList).each(function () {
                $("<option />", {
                    val: this.value,
                    text: this.text
                }).appendTo(dropdown);
            });

            app_id: $("#hiddenAppIdMaster").val(resp.AppId);

            // General info
            $("#hiddenAppIdGeneralInfo").val(resp.GeneralInfo.AppId);
            $("#appName").val(resp.GeneralInfo.AppName);
            $("#appEnabled").bootstrapSwitch('state', resp.GeneralInfo.AppEnabled);
            $("#userPoolCount").val(resp.GeneralInfo.UserPoolCount);
            $("#trialDays").val(resp.GeneralInfo.TrialDays);
            $("#sendExpireMails").bootstrapSwitch('state', resp.GeneralInfo.SendExpireMails);

            // Maintenance
            $("#hiddenAppIdMaintenance").val(resp.Maintenance.AppId);
            $("#maintMode").bootstrapSwitch('state', resp.Maintenance.MaintenanceEnabled);
            $("#maintModeText").val(resp.Maintenance.MaintenanceText);
            $("#maintModePlanned").bootstrapSwitch('state', resp.Maintenance.MaintenancePlannedEnabled);
            $("#maintModePlannedText").val(resp.Maintenance.MaintenancePlannedText);

            // Icons
            var imgAppLogo = resp.Icons.AppLogoIcon;
            var imgAppLogoName = resp.Icons.AppLogoName;
            var imgAppLogoSize = resp.Icons.AppLogoSize;

            var imgTrialLogo = resp.Icons.TrialLogoIcon;
            var imgTrialLogoName = resp.Icons.TrialLogoName;
            var imgTrialLogoSize = resp.Icons.TrialLogoSize;

            if (imgAppLogo != null)
                document.getElementById('applogoimg').setAttribute('src', 'data:image/jpeg;base64,' + imgAppLogo);

            if (imgAppLogoName != null)
                $("#dispAppLogoName").html(imgAppLogoName);

            if (imgAppLogoSize != null)
                $("#dispAppLogoSize").html(imgAppLogoSize + " bytes");

            if (imgTrialLogo != null)
                document.getElementById('triallogoimg').setAttribute('src', 'data:image/jpeg;base64,' + imgTrialLogo);

            if (imgTrialLogoName != null)
                $("#dispTrialLogoName").html(imgTrialLogoName);

            if (imgTrialLogoSize != null)
                $("#dispTrialLogoSize").html(imgTrialLogoSize + " bytes");

            // Availability
            $("#hiddenAppIdAvailability").val(resp.Availability.AppId);
            $("#selAppStateOnPremise").val(resp.Availability.AppStateOnPremise);
            $("#selAppStateSOOnline").val(resp.Availability.AppStateSOOnline);

            // URL Info
            $("#hiddenAppIdURLInfo").val(resp.URLInfo.AppId);
            $("#appAdminURL").val(resp.URLInfo.AdminURL);
            $("#appStartURL").val(resp.URLInfo.StartURL);

            // Description text
            $("#hiddenAppIdDescrText").val(resp.AppId);
            CKEDITOR.instances['appAboutText'].setData(resp.DescrText.AppAboutText);

            // Advanced
            $("#hiddenAppIdAdvanced").val(resp.Availability.AppId);
            $("#soAppId").val(resp.Advanced.SOAppId);
            $("#appToken").val(resp.Advanced.ApplicationToken);
            $("#environmentSelection").val(resp.Advanced.SelectedEnvironment);
            $("#privateKeySOD").val(resp.Advanced.PrivateKeyFileNameSOD);
            $("#privateKeySTAGE").val(resp.Advanced.PrivateKeyFileNameSTAGE);
            $("#privateKeyPROD").val(resp.Advanced.PrivateKeyFileNamePROD);

            if ($("#privateKeySOD").val() != "") {
                $("#pkeySODDelete").show();
                $("#pkeySODView").show();
            }
            else {
                $("#pkeySODDelete").hide();
                $("#pkeySODView").hide();
            }

            if ($("#privateKeySTAGE").val() != "") {
                $("#pkeySTAGEDelete").show();
                $("#pkeySTAGEView").show();
            }
            else {
                $("#pkeySTAGEDelete").hide();
                $("#pkeySTAGEView").hide();
            }

            if ($("#privateKeyPROD").val() != "") {
                $("#pkeyPRODDelete").show();
                $("#pkeyPRODView").show();
            }
            else {
                $("#pkeyPRODDelete").hide();
                $("#pkeyPRODView").hide();
            }

            $("#pkeySODView").attr("data-message", resp.Advanced.SODXML);
            $("#pkeySTAGEView").attr("data-message", resp.Advanced.STAGEXML);
            $("#pkeyPRODView").attr("data-message", resp.Advanced.PRODXML);

            console.log("success");
            $("#ajaxloader").hide();
        })
          .done(function () {
              console.log("second success");
          })
          .fail(function () {
              console.log("error");
          })
          .always(function () {
              console.log("complete");
          });

    }

    // Change selection dropdown
    function ChangeApp(val) {
        // Show modal wait spinner
        $('#SpinnerWait_Modal').modal('show');

        var url = "@Url.Action("GetAppInfo", "SysAdmin")";
        var data = val;

        // Assign handlers immediately after making the request,
        // and remember the jqxhr object for this request
        var jqxhr = $.getJSON(url, { appId: val }, function (resp) {

            // *** Update all relevant controls on partial views ***
            app_id: $("#hiddenAppIdMaster").val(resp.AppId);

            // General info
            $("#hiddenAppIdGeneralInfo").val(resp.GeneralInfo.AppId);
            $("#appName").val(resp.GeneralInfo.AppName);
            $("#appEnabled").bootstrapSwitch('state', resp.GeneralInfo.AppEnabled);
            $("#userPoolCount").val(resp.GeneralInfo.UserPoolCount);
            $("#trialDays").val(resp.GeneralInfo.TrialDays);
            $("#sendExpireMails").bootstrapSwitch('state', resp.GeneralInfo.SendExpireMails);

            // Maintenance
            $("#hiddenAppIdMaintenance").val(resp.Maintenance.AppId);
            $("#maintMode").bootstrapSwitch('state', resp.Maintenance.MaintenanceEnabled);
            $("#maintModeText").val(resp.Maintenance.MaintenanceText);
            $("#maintModePlanned").bootstrapSwitch('state', resp.Maintenance.MaintenancePlannedEnabled);
            $("#maintModePlannedText").val(resp.Maintenance.MaintenancePlannedText);

            // Icons
            var imgAppLogo = resp.Icons.AppLogoIcon;
            var imgAppLogoName = resp.Icons.AppLogoName;
            var imgAppLogoSize = resp.Icons.AppLogoSize;

            var imgTrialLogo = resp.Icons.TrialLogoIcon;
            var imgTrialLogoName = resp.Icons.TrialLogoName;
            var imgTrialLogoSize = resp.Icons.TrialLogoSize;

            if (imgAppLogo != null)
                document.getElementById('applogoimg').setAttribute('src', 'data:image/jpeg;base64,' + imgAppLogo);

            if (imgAppLogoName != null)
                $("#dispAppLogoName").html(imgAppLogoName);

            if (imgAppLogoSize != null)
                $("#dispAppLogoSize").html(imgAppLogoSize + " bytes");

            if (imgTrialLogo != null)
                document.getElementById('triallogoimg').setAttribute('src', 'data:image/jpeg;base64,' + imgTrialLogo);

            if (imgTrialLogoName != null)
                $("#dispTrialLogoName").html(imgTrialLogoName);

            if (imgTrialLogoSize != null)
                $("#dispTrialLogoSize").html(imgTrialLogoSize + " bytes");

            // Availability
            $("#hiddenAppIdAvailability").val(resp.Availability.AppId);
            $("#selAppStateOnPremise").val(resp.Availability.AppStateOnPremise);
            $("#selAppStateSOOnline").val(resp.Availability.AppStateSOOnline);

            // URL Info
            $("#hiddenAppIdURLInfo").val(resp.URLInfo.AppId);
            $("#appAdminURL").val(resp.URLInfo.AdminURL);
            $("#appStartURL").val(resp.URLInfo.StartURL);

            // Description text
            $("#hiddenAppIdDescrText").val(resp.AppId);
            CKEDITOR.instances['appAboutText'].setData(resp.DescrText.AppAboutText);

            // Advanced
            $("#hiddenAppIdAdvanced").val(resp.Availability.AppId);
            $("#soAppId").val(resp.Advanced.SOAppId);
            $("#appToken").val(resp.Advanced.ApplicationToken);
            $("#environmentSelection").val(resp.Advanced.SelectedEnvironment);
            $("#privateKeySOD").val(resp.Advanced.PrivateKeyFileNameSOD);
            $("#privateKeySTAGE").val(resp.Advanced.PrivateKeyFileNameSTAGE);
            $("#privateKeyPROD").val(resp.Advanced.PrivateKeyFileNamePROD);

            if ($("#privateKeySOD").val() != "") {
                $("#pkeySODDelete").show();
                $("#pkeySODView").show();
            }
            else {
                $("#pkeySODDelete").hide();
                $("#pkeySODView").hide();
            }

            if ($("#privateKeySTAGE").val() != "") {
                $("#pkeySTAGEDelete").show();
                $("#pkeySTAGEView").show();
            }
            else {
                $("#pkeySTAGEDelete").hide();
                $("#pkeySTAGEView").hide();
            }

            if ($("#privateKeyPROD").val() != "") {
                $("#pkeyPRODDelete").show();
                $("#pkeyPRODView").show();
            }
            else {
                $("#pkeyPRODDelete").hide();
                $("#pkeyPRODView").hide();
            }

            $("#pkeySODView").attr("data-message", resp.Advanced.SODXML);
            $("#pkeySTAGEView").attr("data-message", resp.Advanced.STAGEXML);
            $("#pkeyPRODView").attr("data-message", resp.Advanced.PRODXML);

            console.log("success");
            $("#ajaxloader").hide();
        })
          .done(function () {
              console.log("second success");
          })
          .fail(function () {
              console.log("error");
          })
          .always(function () {
              console.log("complete");
          });

    }

    function htmlEncode(value) {
        //create a in-memory div, set it's inner text(which jQuery automatically encodes)
        //then grab the encoded contents back out.  The div never exists on the page.
        return $('<div/>').text(value).html().replace(/&/g, '%26');
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }

    function uploadCallback(appId, logo_kind, logo_file) {
        var fileSize = logo_file.size;
        var fileName = logo_file.name;
        //alert("In uploadCallback. appId: " + appId + ", logo_kind: " + logo_kind + ", fileSize: " + fileSize + ", fileName:" + fileName);

        var data = new FormData();

        data.append("AppId", appId);
        data.append("LogoKind", logo_kind);
        data.append("FileSize", fileSize);
        data.append("FileName", fileName);
        data.append("LogoFile", logo_file);

        $.ajax({
            url: "@Url.Action("UploadLogo", "SysAdmin")",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (resp) {
                // Check if we should redirect
                if (resp.Redirect) {
                    window.location = "@Url.Action("Login", "Account")";
                };

                if (resp.IsOK) {
                    // Show success alert box
                    $("#success-alert-logoupload").show();
                    // Remove success alert-box after a few seconds
                    $("#success-alert-logoupload").fadeTo(2000, 1000).slideUp(1000, function () {
                        $("#success-alert-logoupload").hide();
                    });

                    // Load images into placeholders
                    var obj = jQuery.parseJSON(resp.ReturnedJsonData);

                    var imgAppLogo = obj.AppLogoIcon;
                    var imgAppLogoName = obj.AppLogoName;
                    var imgAppLogoSize = obj.AppLogoSize;

                    var imgTrialLogo = obj.TrialLogoIcon;
                    var imgTrialLogoName = obj.TrialLogoName;
                    var imgTrialLogoSize = obj.TrialLogoSize;

                    if (imgAppLogo != null)
                        document.getElementById('applogoimg').setAttribute('src', 'data:image/jpeg;base64,' + imgAppLogo);

                    if (imgAppLogoName != null)
                        $("#dispAppLogoName").html(imgAppLogoName);

                    if (imgAppLogoSize != null)
                        $("#dispAppLogoSize").html(imgAppLogoSize + " bytes");

                    if (imgTrialLogo != null)
                        document.getElementById('triallogoimg').setAttribute('src', 'data:image/jpeg;base64,' + imgTrialLogo);

                    if (imgTrialLogoName != null)
                        $("#dispTrialLogoName").html(imgTrialLogoName);

                    if (imgTrialLogoSize != null)
                        $("#dispTrialLogoSize").html(imgTrialLogoSize + " bytes");
                }
                else {
                    // Show error alert box
                    $("#error-alert-logoupload").html(resp.ErrorMsg);
                    $("#error-alert-logoupload").show();
                    // Remove error alert-box after a few seconds
                    $("#error-alert-logoupload").fadeTo(2000, 500).slideUp(500, function () {
                        $("#error-alert-logoupload").hide();
                    });
                }
            }
        })
          .done(function () {
              console.log("second success");
          })
          .fail(function () {
              console.log("error");
          })
          .always(function () {
              console.log("complete");
          });
        return false;
    }

    // This function uploads private key XML-files
    function UploadPKey(e, environment) {
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {

                var currAppId = $("#hiddenAppIdAdvanced").val();
                var data = new FormData();

                data.append("appId", currAppId);
                data.append("environment", environment);

                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UploadPrivateKey", "SysAdmin")",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (resp) {
                        if (resp.IsOK) {
                            // Show success alert box
                            $("#error-alert-advanced").html(resp.ErrorMsg);
                            $("#success-alert-advanced").show();
                            // Remove success alert-box after a few seconds
                            $("#success-alert-advanced").fadeTo(2000, 1000).slideUp(1000, function () {
                                $("#success-alert-advanced").hide();
                            });

                            // Update filename
                            var obj = jQuery.parseJSON(resp.ReturnedJsonData);
                            var fileName = obj.PKeyName;

                            if (environment == "sod") {
                                $("#privateKeySOD").val(fileName);
                                $("#pkeySODDelete").show();
                                $("#pkeySODView").show();
                            }
                            else if (environment == "stage") {
                                $("#privateKeySTAGE").val(fileName);
                                $("#pkeySTAGEDelete").show();
                                $("#pkeySTAGEView").show();
                            }
                            else if (environment == "prod") {
                                $("#privateKeyPROD").val(fileName);
                                $("#pkeyPRODDelete").show();
                                $("#pkeyPRODView").show();
                            }
                        }
                        else {
                            // Show error alert box
                            $("#error-alert-advanced").html(resp.ErrorMsg);
                            $("#error-alert-advanced").show();
                            // Remove error alert-box after a few seconds
                            $("#error-alert-advanced").fadeTo(2000, 500).slideUp(500, function () {
                                $("#error-alert-advanced").hide();
                            });
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        };
    }

    // This function uploads private key XML-files
    function RemovePKey(environment) {

        var currAppId = $("#hiddenAppIdAdvanced").val();
        var data = new FormData();

        data.append("appId", currAppId);
        data.append("environment", environment);

        $.ajax({
            type: "POST",
            url: "@Url.Action("RemovePrivateKey", "SysAdmin")",
            contentType: false,
            processData: false,
            data: data,
            success: function (resp) {
                if (resp.IsOK) {
                    // Show success alert box
                    $("#error-alert-advanced").html(resp.ErrorMsg);
                    $("#success-alert-advanced").show();
                    // Remove success alert-box after a few seconds
                    $("#success-alert-advanced").fadeTo(2000, 1000).slideUp(1000, function () {
                        $("#success-alert-advanced").hide();
                    });

                    if (environment == "sod") {
                        $("#privateKeySOD").val("");
                        $("#pkeySODDelete").hide();
                    }
                    else if (environment == "stage") {
                        $("#privateKeySTAGE").val("");
                        $("#pkeySTAGEDelete").hide();
                    }
                    else if (environment == "prod") {
                        $("#privateKeyPROD").val("");
                        $("#pkeyPRODDelete").hide();
                    }
                }
                else {
                    // Show error alert box
                    $("#error-alert-advanced").html(resp.ErrorMsg);
                    $("#error-alert-advanced").show();
                    // Remove error alert-box after a few seconds
                    $("#error-alert-advanced").fadeTo(2000, 500).slideUp(500, function () {
                        $("#error-alert-advanced").hide();
                    });
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    }

    // This section will only be available when the page is ready
    $(document).ready(function () {

        // Attach click handlers to delete buttons on advanced tab
        $('#pkeySODDelete').click(function () {
            RemovePKey("sod");
        });

        $('#pkeySTAGEDelete').click(function () {
            RemovePKey("stage");
        });

        $('#pkeyPRODDelete').click(function () {
            RemovePKey("prod");
        });

        if ($("#privateKeySOD").val() != "") {
            $("#pkeySODDelete").show();
            $("#pkeySODView").show();
        }
        else {
            $("#pkeySODDelete").hide();
            $("#pkeySODView").hide();
        }

        if ($("#privateKeySTAGE").val() != "") {
            $("#pkeySTAGEDelete").show();
            $("#pkeySTAGEView").show();
        }
        else {
            $("#pkeySTAGEDelete").hide();
            $("#pkeySTAGEView").hide();
        }

        if ($("#privateKeyPROD").val() != "") {
            $("#pkeyPRODDelete").show();
            $("#pkeyPRODView").show();
        }
        else {
            $("#pkeyPRODDelete").hide();
            $("#pkeyPRODView").hide();
        }

        $('#upload-productKeySOD').on('change', function (e) {
            UploadPKey(e, "sod");
        });

        $('#upload-productKeySTAGE').on('change', function (e) {
            UploadPKey(e, "stage");
        });

        $('#upload-productKeyPROD').on('change', function (e) {
            UploadPKey(e, "prod");
        });

        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
            console.log(numFiles);
            console.log(label);
        });

        $.uploadPreview({
            input_field: "#image-upload-applogo",       // Default: .image-upload-applogo
            preview_box: "#image-preview-applogo",      // Default: .image-preview-applogo
            label_field: "#image-label",                // Default: .image-label
            label_default: "Choose File",               // Default: Choose File
            label_selected: "Change File",              // Default: Change File
            no_label: false,                            // Default: false
            app_id: $("#hiddenAppIdMaster").val(),
            //app_id: $("#image-preview-applogo").data('appid'),
            logo_kind: $("#image-preview-applogo").data('logo-kind'),
            callback_function: $("#image-preview-applogo").data('callback-url'),
        });

        $.uploadPreview({
            input_field: "#image-upload-triallogo",     // Default: .image-upload-triallogo
            preview_box: "#image-preview-triallogo",    // Default: .image-preview-triallogo
            label_field: "#image-label",                // Default: .image-label
            label_default: "Choose File",               // Default: Choose File
            label_selected: "Change File",              // Default: Change File
            no_label: false,                            // Default: false
            app_id: $("#hiddenAppIdMaster").val(),
            //app_id: $("#image-preview-triallogo").data('appid'),
            logo_kind: $("#image-preview-triallogo").data('logo-kind'),
            callback_function: $("#image-preview-triallogo").data('callback-url'),
        });

        // The ladda button (button with spinner)
        var ladda = null;
        var editor_data = CKEDITOR.instances['appAboutText'].getData();



        // Attach click handler to the submit button - General Info:
        $('#form-submit1').click(function () {
            // Assign button to ladda button
            ladda = Ladda.create(this);
            // Submit form
            $('#frmUpdateGeneralInfo').submit();
        });

        // Attach click handler to the submit button - Maintenance:
        $('#form-submit2').click(function () {
            // Assign button to ladda button
            ladda = Ladda.create(this);
            // Submit form
            $('#frmUpdateMaintenance').submit();
        });

        // Attach click handler to the submit button - Availability:
        $('#form-submit3').click(function () {
            // Assign button to ladda button
            ladda = Ladda.create(this);
            // Submit form
            $('#frmUpdateAvailability').submit();
        });

        // Attach click handler to the submit button - URL Info:
        $('#form-submit4').click(function () {
            // Assign button to ladda button
            ladda = Ladda.create(this);
            // Submit form
            $('#frmUpdateURLInfo').submit();
        });

        // Attach click handler to the submit button:
        $('#form-submit5').click(function () {
            // Assign button to ladda button
            ladda = Ladda.create(this);
            // Submit form
            $('#frmUpdateDescrText').submit();
        });

        // Attach click handler to the submit button:
        $('#form-submit6').click(function () {
            // Assign button to ladda button
            ladda = Ladda.create(this);
            // Submit form
            $('#frmUpdateAdvanced').submit();
        });

        // Hide alert boxes
        $('div[role="alert"]').hide();

        // General info - submit form
        $("#frmUpdateGeneralInfo").on("submit", function (event) {
            event.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();

            // Start loading. Turn on spinner
            ladda.start();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    // Check if we should redirect
                    if (resp.Redirect) {
                        window.location = "@Url.Action("Login", "Account")";
                    };

                    if (resp.IsOK) {
                        // Hide modal wait spinner
                        $('#SpinnerWait_Modal').modal('hide');
                        // Show success alert box
                        $("#success-alert-generalinfo").show();
                        // Remove success alert-box after a few seconds
                        $("#success-alert-generalinfo").fadeTo(2000, 1000).slideUp(1000, function () {
                            $("#success-alert-generalinfo").hide();
                        });
                    }
                    else {
                        // Hide modal wait spinner
                        $('#SpinnerWait_Modal').modal('hide');
                        // Show error alert box
                        $("#error-alert-generalinfo").html(resp.ErrorMsg);
                        $("#error-alert-generalinfo").show();
                        // Remove error alert-box after a few seconds
                        $("#error-alert-generalinfo").fadeTo(2000, 500).slideUp(500, function () {
                            $("#error-alert-generalinfo").hide();
                        });
                    }
                }
            })
            .always(function () {
                // Stop loading. Turn off spinner
                ladda.stop();
            });

            return false;
        });

        // Maintenance - submit form
        $("#frmUpdateMaintenance").on("submit", function (event) {
            event.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();

            // Start loading. Turn on spinner
            ladda.start();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    // Check if we should redirect
                    if (resp.Redirect) {
                        window.location = "@Url.Action("Login", "Account")";
                    };

                    if (resp.IsOK) {
                        // Show success alert box
                        $("#success-alert-maintenance").show();
                        // Remove success alert-box after a few seconds
                        $("#success-alert-maintenance").fadeTo(2000, 1000).slideUp(1000, function () {
                            $("#success-alert-maintenance").hide();
                        });
                    }
                    else {
                        // Show error alert box
                        $("#error-alert-maintenance").html(resp.ErrorMsg);
                        $("#error-alert-maintenance").show();
                        // Remove error alert-box after a few seconds
                        $("#error-alert-maintenance").fadeTo(2000, 500).slideUp(500, function () {
                            $("#error-alert-maintenance").hide();
                        });
                    }
                }
            })
            .always(function () {
                // Stop loading. Turn off spinner
                ladda.stop();
            });

            return false;
        });

        // Availability - submit form
        $("#frmUpdateAvailability").on("submit", function (event) {
            event.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();

            // Start loading. Turn on spinner
            ladda.start();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    // Check if we should redirect
                    if (resp.Redirect) {
                        window.location = "@Url.Action("Login", "Account")";
                    };

                    if (resp.IsOK) {
                        // Show success alert box
                        $("#success-alert-availability").show();
                        // Remove success alert-box after a few seconds
                        $("#success-alert-availability").fadeTo(2000, 1000).slideUp(1000, function () {
                            $("#success-alert-availability").hide();
                        });
                    }
                    else {
                        // Show error alert box
                        $("#error-alert-availability").html(resp.ErrorMsg);
                        $("#error-alert-availability").show();
                        // Remove error alert-box after a few seconds
                        $("#error-alert-availability").fadeTo(2000, 500).slideUp(500, function () {
                            $("#error-alert-availability").hide();
                        });
                    }
                }
            })
            .always(function () {
                // Stop loading. Turn off spinner
                ladda.stop();
            });

            return false;
        });

        // Availability - submit form
        $("#frmUpdateURLInfo").on("submit", function (event) {
            event.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();

            // Start loading. Turn on spinner
            ladda.start();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    // Check if we should redirect
                    if (resp.Redirect) {
                        window.location = "@Url.Action("Login", "Account")";
                    };

                    if (resp.IsOK) {
                        // Show success alert box
                        $("#success-alert-urlinfo").show();
                        // Remove success alert-box after a few seconds
                        $("#success-alert-urlinfo").fadeTo(2000, 1000).slideUp(1000, function () {
                            $("#success-alert-urlinfo").hide();
                        });
                    }
                    else {
                        // Show error alert box
                        $("#error-alert-urlinfo").html(resp.ErrorMsg);
                        $("#error-alert-urlinfo").show();
                        // Remove error alert-box after a few seconds
                        $("#error-alert-urlinfo").fadeTo(2000, 500).slideUp(500, function () {
                            $("#error-alert-urlinfo").hide();
                        });
                    }
                }
            })
            .always(function () {
                // Stop loading. Turn off spinner
                ladda.stop();
            });

            return false;
        });

        // Description text - submit form
        $("#frmUpdateDescrText").on("submit", function (event) {
            event.preventDefault();

            var url = $(this).attr("action");

            $(".apptext").html()

            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();

            var formData = $(this).serialize();
            var editorData = CKEDITOR.instances['appAboutText'].getData();

            console.log("formData: " + formData);
            console.log("editorData: " + editorData);

            // Start loading. Turn on spinner
            ladda.start();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    // Check if we should redirect
                    if (resp.Redirect) {
                        window.location = "@Url.Action("Login", "Account")";
                    };

                    if (resp.IsOK) {
                        // Show success alert box
                        //$("#jsonwell").html(resp.ReturnedJsonData);
                        $("#success-alert-descrtext").show();
                        // Remove success alert-box after a few seconds
                        $("#success-alert-descrtext").fadeTo(2000, 1000).slideUp(1000, function () {
                            $("#success-alert-descrtext").hide();
                        });
                    }
                    else {
                        // Show error alert box
                        $("#error-alert-descrtext").html(resp.ErrorMsg);
                        $("#error-alert-descrtext").show();
                        // Remove error alert-box after a few seconds
                        $("#error-alert-descrtext").fadeTo(2000, 500).slideUp(500, function () {
                            $("#error-alert-descrtext").hide();
                        });
                    }
                }
            })
            .always(function () {
                // Stop loading. Turn off spinner
                ladda.stop();
            });
            return false;
        });

        // Availability - submit form
        $("#frmUpdateAdvanced").on("submit", function (event) {
            event.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();

            // Start loading. Turn on spinner
            ladda.start();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    // Check if we should redirect
                    if (resp.Redirect) {
                        window.location = "@Url.Action("Login", "Account")";
                    };

                    if (resp.IsOK) {
                        // Show success alert box
                        $("#success-alert-advanced").show();
                        // Remove success alert-box after a few seconds
                        $("#success-alert-advanced").fadeTo(2000, 1000).slideUp(1000, function () {
                            $("#success-alert-advanced").hide();
                        });
                    }
                    else {
                        // Show error alert box
                        $("#error-alert-advanced").html(resp.ErrorMsg);
                        $("#error-alert-advanced").show();
                        // Remove error alert-box after a few seconds
                        $("#error-alert-advanced").fadeTo(2000, 500).slideUp(500, function () {
                            $("#error-alert-advanced").hide();
                        });
                    }
                }
            })
            .always(function () {
                // Stop loading. Turn off spinner
                ladda.stop();
            });

            return false;
        });


    });

    // Automatically trigger the loading animation on click
    Ladda.bind('input[type=submit]');

    //$("#appEnabled").bootstrapSwitch();
    $(".switch").bootstrapSwitch();
    $("[id^=notifswitch]").bootstrapSwitch();
    $("#btnAddNewApp").tooltip();
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.instances['AppAboutText'];

        if (editor) {
            editor.destroy(true);
        }

        CKEDITOR.replace('AppAboutText', {
            enterMode: CKEDITOR.ENTER_BR,
            resize_enabled: false
        });

        CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');

    </script>
}
