@model AOS.Platform.Models.UserHomeViewModel
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- My Apps panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>My apps</strong></h4>
            </div>
            <div class="panel-body">
                <div class="aoswell">
                    <div class="row">
                        @{
                            foreach (var app in Model.MyAppsExtended)
                            {
                                var routeValues = new RouteValueDictionary();
                                routeValues.Add("Id", app.MyApp.AppID);
                                routeValues.Add("SOOnlineEnabled", false);
                                var appHoverTxt = (app.AppUnderMaintenance) ? app.AppUnderMaintenanceText : "";
                                Model.EndpointStatusText = (app.AppUnderMaintenance) ? "App under maintenance. Please check back later" : Model.EndpointStatusText;

                                // Routevalues for ConfirmPurchase, when upgrading SO online app from trial to full version
                                var routeValues2 = new RouteValueDictionary();
                                routeValues2.Add("Id", app.MyApp.AppID);
                                routeValues2.Add("IsTrial", false);
                                routeValues2.Add("UpgradeFromTrial", true);

                                var redirectUrlBuy = app.MyApp.SOStartURL + "?IsTrialVersion=false";

                                <div class="col-xs-6 col-md-3">
                                    <div id="img_appcontainer" style="width:147px; height:200px; border: 1px solid #ddd; border-radius: 4px;" data-toggle="tooltip" data-placement="top" title="@appHoverTxt">
                                        @if (app.AppUnderMaintenance)
                                        {
                                            <a href="@Url.Action("AppDetailsIndex", "App", routeValues)" class="thumbnail">
                                                <img src="~/Content/Images/UnderMaintenance.jpg" style="width: 147px; height:200px" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("AppDetailsIndex", "App", routeValues)" class="thumbnail">
                                                <img src="data:image/png;base64, @app.AppLogoIcon" id="applogoimg" style="width: 147px; height:200px" />
                                            </a>
                                        }
                                        @using (Html.BeginForm("UninstallApp", "App", new { id = app.MyApp.AppID }, FormMethod.Post, new { @class = "form center-block", encType = "multipart/form-data", id = "frmnewaccount", name = "frmnewaccount" }))
                                        {
                                            @Html.AntiForgeryToken();
                                            <table style="border:none; text-align:center; width:100%; position: absolute; bottom: 0; left: 0;">
                                                <tr>
                                                    <td>
                                                        @if (app.AppUnderMaintenance)
                                                        {
                                                            <button class="btn aos-btn-warning btn-xs appbtn" type="button" id="appAdminError2" data-toggle="tooltip" data-placement="bottom" title="@Model.EndpointStatusText">
                                                                <span class="fa fa-exclamation-triangle fa-lg"></span>
                                                            </button>
                                                        }
                                                        else if (Model.EndpointAlive)
                                                        {
                                                            if (!app.MyApp.Enabled)
                                                            {
                                                                <button class="btn aos-btn-warning btn-xs appbtn" data-toggle="tooltip" data-placement="bottom" title="App is disabled" type="button" id="appBtnDisabled">
                                                                    <span class="fa fa-exclamation-triangle fa-lg"></span>
                                                                </button>
                                                            }
                                                            else if (!app.HasAdminPage)
                                                            {
                                                                <button class="btn aos-btn-warning btn-xs appbtn" data-toggle="tooltip" data-placement="bottom" title="Invalid App admin page" type="button" id="appBtnDisabled">
                                                                    <span class="fa fa-exclamation-triangle fa-lg"></span>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                if (app.Trial)
                                                                {
                                                                    if (app.TrialExpired)
                                                                    {
                                                                        <button class="btn aos-btn-warning btn-xs appbtn" type="button" id="appAdminError" data-toggle="tooltip" data-placement="bottom" title="Trial period expired">
                                                                            <span class="fa fa-exclamation-triangle fa-lg"></span>
                                                                        </button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="btn aos-btn-success btn-xs appbtn" type="button" id="appAdmin" data-toggle="tooltip" data-placement="bottom" title="App admin page" onclick="location.href='@Url.Action("IFrameHost", "Account", new { AppId = app.MyApp.AppID, SOOnlineEnabled = "false" })'">
                                                                            <span class="fa fa-cog fa-lg"></span>
                                                                        </button>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (app.AppExpired)
                                                                    {
                                                                        <button class="btn aos-btn-warning btn-xs appbtn" type="button" id="appAdminError" data-toggle="tooltip" data-placement="bottom" title="App has expired">
                                                                            <span class="fa fa-exclamation-triangle fa-lg"></span>
                                                                        </button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="btn aos-btn-success btn-xs appbtn" type="button" id="appAdmin" data-toggle="tooltip" data-placement="bottom" title="App admin page" onclick="location.href='@Url.Action("IFrameHost", "Account", new { AppId = app.MyApp.AppID, SOOnlineEnabled = "false" })'">
                                                                            <span class="fa fa-cog fa-lg"></span>
                                                                        </button>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <button class="btn aos-btn-warning btn-xs appbtn" type="button" id="appAdminError2" data-toggle="tooltip" data-placement="bottom" title="@Model.EndpointStatusText">
                                                                <span class="fa fa-exclamation-triangle fa-lg"></span>
                                                            </button>
                                                        }
                                                    </td>
                                                    <!-- Buy button. Offer user to buy full version of app. Only for apps that hasn't been converted yet -->
                                                    @if (!app.IsConverted)
                                                    {
                                                        if (app.Trial)
                                                        {
                                                            if (Model.IsSOOnlineAccount)
                                                            {
                                                                <td>
                                                                    <button class="btn btn-primary btn-xs appbtn" type="button" id="appBuy" title="Buy full version" data-placement="bottom" data-toggle="modal" data-target="#switchappversion" data-title="@app.MyApp.Name - A great choice!" data-message="@Url.Action("ConfirmPurchase", "App", routeValues2)">
                                                                        <span class="fa fa-shopping-cart fa-lg"></span>
                                                                    </button>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <button class="btn btn-primary btn-xs appbtn" type="button" id="appBuy" title="Buy full version" data-placement="bottom" onclick="location.href='@Url.Action("BuyApp", "App", new { Id = app.MyApp.AppID, OnPremisePurchaseVersion = AOS.Platform.Common.PurchaseVersion.OnPremiseBuyTry, SOOnlinePurchaseVersion = AOS.Platform.Common.PurchaseVersion.SOOnlineNone })'">
                                                                        <span class="fa fa-shopping-cart fa-lg"></span>
                                                                    </button>
                                                                </td>
                                                            }
                                                        }
                                                    }
                                                    @if (!Model.IsNormalUser)
                                                    {
                                                        <td>
                                                            <button class="btn btn-xs btn-danger appbtn" type="button" data-placement="bottom" title="Uninstall app" data-toggle="modal" data-target="#confirmDelete" data-title="Uninstall app" data-message="Are you sure you want to uninstall this app ?">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                            </button>
                                                        </td>
                                                    }
                                                </tr>
                                                <tr style="height:5px"><td></td></tr>
                                            </table>
                                        }
                                    </div>
                                    @if (app.Trial)
                                    {
                                        <div class="caption" style="text-align:center; height: 50px; width:93%">
                                            <h4>@app.MyApp.Name</h4>
                                            @if (app.TrialExpired)
                                            {
                                                <h6 class="adwiza-expired">@app.TrialRemaining</h6>
                                            }
                                            else
                                            {
                                                <h6 class="adwiza-notexpired">@app.TrialRemaining</h6>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="caption" style="text-align:center;  height: 50px; width:93%">
                                            <h4>@app.MyApp.Name</h4>
                                            @if (app.ShowExpirationInfo)
                                            {
                                                if (app.AppExpired)
                                                {
                                                    <h6 class="adwiza-expired">@app.AppRemaining</h6>
                                                }
                                                else
                                                {
                                                    <h6 class="adwiza-notexpired">@app.AppRemaining</h6>
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Available Apps panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>Available apps</strong></h4>
            </div>
            <div class="panel-body">
                <div class="aoswell">
                    <div class="row">
                        @{
                            foreach (var app in Model.AvailableApps)
                            {
                                var routeValues = new RouteValueDictionary();
                                routeValues.Add("Id", app.AppID);

                                <div class="col-xs-6 col-md-3">
                                    <a href="@Url.Action("AppDetailsIndex", "App", routeValues)" class="thumbnail">
                                        <img src="data:image/png;base64, @app.AppAboutTextShort" id="applogoimg2" style="width: 147px; height:200px" />
                                        @*<img src="@Url.Content(app.AppAboutTextShort)" alt="ALT NAME">*@
                                    </a>
                                    <div class="caption" style="height: 50px; text-align:center">
                                        <h4>@app.Name</h4>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Confirm")
    @Html.Partial("SwitchAppVersion")
</div>
<script>

    // This section will only be available when the page is ready
    $(document).ready(function () {
        $(".appbtn").tooltip();
        $(".placeh").tooltip();
    });

</script>